
:root {
  --blue-main: rgb(16, 48, 145);
  --red-main: #c61919;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
}

//
//.preloader {
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background-color: #fff;
//  z-index: 10000;
//  display: grid;
//  justify-content: center;
//  align-items: center;
//}
