.section__primary-heading {
  font-size: 6rem;
  text-align: center;
  color: #000;

  &--left {
    text-align: left;
    color: #fff;
    margin-bottom: 1rem;
  }

  &--blue {
    color: var(--blue-main);
  }
}

.section__secondary-heading {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  margin: 2rem 6rem;
  line-height: 1.4;

  &--left {
    text-align: left;
    margin: 0;
    margin-bottom: 12rem;
  }
}

@media only screen and (max-width: 600px) {
  .section__primary-heading {
    font-size: 3.5rem;
  }

  .section__secondary-heading {
    font-size: 1.8rem;
    margin: 0;
  }

  .section__secondary-heading--left {
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }
}
